a {
  color: dodgerblue;
}

a img {
  border: none;
}

input[type=submit], button {
  background: none repeat scroll 0 0 #EEEEEE;
  border: 2px solid #555555;
  color: #555555;
  padding: 3px 15px;
}

.notice, .alert {
  margin: 5px;
}

input.example {
  color: #aaaaaa;
  font-style: italic;
}
