body {
  margin:0;
  padding:0;
  font: 80% "Trebuchet MS",sans-serif;
  background-image: url(/stylesheets/ui-darkness/images/ui-bg_flat_30_cccccc_40x100.png);
  color: #333333;
}

.wrapper {
  width: 900px;
  margin: auto;
  position: relative;
}

#header {
  background-color: #37383C;
}

#content {
  min-height: 435px;
}

.content-left {
  float: left;
  width:70%;
}

.content-right {
  float: right;
  width:30%;
}

#footer {
  border-top: 1px solid #37383C;
  padding: 10px 0;
}


.mohan {
  color:red;
  font: 80% "Trebuchet MS",sans-serif;
}

