body
{
  margin:0;
  padding:0;
}
#header
{
  position:right;
  top:0;
  border:1px solid black;
  background-color: #37383C;
  height: 80px;
}

#logo
{
  float: left;
}

#login
{
  float: right;
  margin-right: 15px;
}

#login a
{
  color: red;
}

#contents
{
  min-height: 400px;
}

#footer
{
  background-color: #37383C;
  color: yellow;
  height: 50px;
}
 
